@model RightControl.Model.Insider.YG_InsiderRltsList
@{
    ViewBag.Title = "Add";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutForm.cshtml";
}

@section styles{
    <link rel="stylesheet" href="~/Areas/Admin/plugins/layui/css/eleTree.css">
    <style>
        .nav {
            position: fixed;
            right: 25px;
            top: calc(50% - 90px);
            border: 1px solid #d2d2d2;
            background-color: #fff;
            z-index: 100000;
        }

        .nav-title {
            background-color: #F8F8F8;
            padding: 0 80px 0 20px;
            margin: 0px;
            height: 42px;
            line-height: 42px;
            border-bottom: 1px solid #eee;
        }

        .nav ul {
            padding: 10px 0px 10px 35px;
        }

            .nav ul li {
                padding: 5px 0px;
                list-style-type: decimal;
            }

            .nav ul a {
                color: #333;
                font-size: 14px;
                text-decoration: none;
            }

        .eleTree {
            width: 350px;
            height: auto;
            border: 1px solid #ccc;
            overflow-y: scroll;
            display: inline-block;
        }

        .inp {
            width: 100%;
            line-height: 30px;
        }

        .slideTest {
            margin: 0 10px;
        }

        .met {
            display: none;
            width: 100%;
        }

        .blue {
            color: #01AAED;
        }

        a:hover {
            color: #01AAED;
        }

        .ele {
            max-height: 150px;
            width: 100%;
            display: none;
            position: absolute;
            top: 100%;
            background-color: #fff;
            z-index: 100;
        }
    </style>
}

<div class="layui-col-md12 top10">
    <form class="layui-form" id="form" action="/Insider/InsiderRltsList/Add" method="post">
        <div class="layui-form-item">
            <label class="layui-form-label">岗位</label>
            <div class="layui-input-inline">
                <input type="hidden" name="DepartmentId" class="layui-input">
                <input type="text" name="Department" required lay-verify="required" readonly autocomplete="off" class="layui-input">
                <div class="eleTree ele" lay-filter="departmentdata"></div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">内部人姓名</label>
            <div class="layui-input-inline">
                <select name="InsiderNm" id="InsiderNm">
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">姓名</label>
            <div class="layui-input-inline">
                <input name="RltsNm" lay-vertype="tips" class="layui-input" type="text" placeholder="关系人姓名">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">身份证号码</label>
            <div class="layui-input-inline">
                <input name="IdentityCd" lay-vertype="tips" class="layui-input" type="text">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">关系</label>
            <div class="layui-input-inline">
                <input name="Relationship" lay-vertype="tips" class="layui-input" type="text" placeholder="与内部人关系">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">企业名称</label>
            <div class="layui-input-block">
                <input name="CompanyNm" lay-vertype="tips" class="layui-input" type="text" placeholder="所控制企业名称">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">统一社会信用代码证号</label>
            <div class="layui-input-inline">
                <input name="SocialCreditCode" lay-vertype="tips" class="layui-input" type="text">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">控制人</label>
            <div class="layui-input-inline">
                <input name="Controller" lay-vertype="tips" class="layui-input" type="text">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">关系</label>
            <div class="layui-input-inline">
                <input name="ControllerRlts" lay-vertype="tips" class="layui-input" type="text" placeholder="控制人与内部人关系">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit="" lay-filter="submitForm" id="submitForm">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
</div>

<script>
    layui.use(['jquery', 'eleTree', 'form'], function () {
        var form = layui.form;
        var $ = layui.jquery;
        submitForm(form, "添加成功"); //监听提交

        var eleTree = layui.eleTree;
        var el;
        $.ajax({
            url: '/Permissions/Department/GetAllDepartment',
            type: 'post',
            dataType: 'json',
            success: function (data) {
                el = eleTree.render({
                    elem: '.ele',
                    data: data,
                    defaultExpandAll: true,
                    expandOnClickNode: false,
                    highlightCurrent: true
                });
            }
        });
        $("[name='Department']").on("click",
            function (e) {
                e.stopPropagation();
                if (!el) {
                    //el = eleTree.render({
                    //    elem: '.ele',
                    //    data: data,
                    //    defaultExpandAll: true,
                    //    expandOnClickNode: false,
                    //    highlightCurrent: true
                    //});
                }
                $(".ele").toggle();
            });
        eleTree.on("nodeClick(departmentdata)",
            function (d) {
                $("[name='Department']").val(d.data.currentData.label);
                $("[name='DepartmentId']").val(d.data.currentData.id);
                $(".ele").hide();

                //绑定部门对应的内部人列表
                var jsondata = eval('(' + '{"Department":"' + d.data.currentData.label + '"}' + ')');
                $.ajax({
                    url: '/Insider/InsiderRltsList/GetInsiderList',
                    data: JSON.stringify(jsondata),
                    contentType: "application/json",
                    type: 'post',
                    success: function (res) {
                        $("#InsiderNm").empty();//清空下拉框的值
                        $('#InsiderNm').append(new Option("请选择", ""));

                        $.each(res.data, function (index, item) {
                            $('#InsiderNm').append(new Option(item.RepartyNm, item.RepartyNm));
                        });

                        layui.form.render("select");
                    }
                });
            });
        $(document).on("click",
            function () {
                $(".ele").hide();
            });
    });
</script>

