@{
    ViewBag.Title = "Detail";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutDetail.cshtml";
}
<div class="layui-col-md12" id="List">
</div>
<script>
    layui.use(['form', 'jquery'], function () {
        var $ = layui.$;
        var form = layui.form;

        $.ajax({
            url: "/RecordTrancation/RecordOperation/RecordFileList?recordId=@ViewBag.RecordID",
            type: "post",
            success: function(data) {
                $("#List").append(data);
            }
        });
    });
</script>

