@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutList.cshtml";
}
@section styles{
    <link rel="stylesheet" href="~/Areas/Admin/plugins/layui/css/eleTree.css">
    <style>
        .nav {
            position: fixed;
            right: 25px;
            top: calc(50% - 90px);
            border: 1px solid #d2d2d2;
            background-color: #fff;
            z-index: 100000;
        }

        .nav-title {
            background-color: #F8F8F8;
            padding: 0 80px 0 20px;
            margin: 0px;
            height: 42px;
            line-height: 42px;
            border-bottom: 1px solid #eee;
        }

        .nav ul {
            padding: 10px 0px 10px 35px;
        }

            .nav ul li {
                padding: 5px 0px;
                list-style-type: decimal;
            }

            .nav ul a {
                color: #333;
                font-size: 14px;
                text-decoration: none;
            }

        .eleTree {
            width: 350px;
            height: auto;
            border: 1px solid #ccc;
            overflow-y: scroll;
            display: inline-block;
        }

        .inp {
            width: 100%;
            line-height: 30px;
        }

        .slideTest {
            margin: 0 10px;
        }

        .met {
            display: none;
            width: 100%;
        }

        .blue {
            color: #01AAED;
        }

        a:hover {
            color: #01AAED;
        }

        .ele {
            max-height: 150px;
            width: 100%;
            display: none;
            position: absolute;
            top: 100%;
            background-color: #fff;
            z-index: 100;
        }
    </style>
}
<div class="admin-main">
    <blockquote class="layui-elem-quote p10">
        <form id="formSearch" class="layui-form" action="">
            <div class="layui-form-item" style="margin-bottom:0px;">
                <label class="layui-form-label">归属部门</label>
                <div class="layui-input-inline">
                    <input type="hidden" name="RecordManagerDepartment" class="layui-input">
                    <input type="text" name="DepartmentName" required lay-verify="required" placeholder="请选择部门" readonly autocomplete="off" class="layui-input">
                    <div class="eleTree ele" lay-filter="departmentdata" style="z-index:10000"></div>
                </div>
                <label class="layui-form-label">归属客户经理：</label>
                <div class="layui-input-inline">
                    <select name="RecordManager" id="RecordManager">
                        <option value=""></option>
                    </select>
                    @*<input name="RecordUserName" id="RecordUserName" lay-verify="" autocomplete="off" class="layui-input">*@
                </div>
                <label class="layui-form-label">档案状态：</label>
                <div class="layui-input-inline">
                    <select name="RecordStatus" lay-filter="RecordStatus">
                        <option value="0">全部</option>
                        <option value="1">待移交</option>
                        <option value="2">在库</option>
                        <option value="3">借阅中</option>
                    </select>
                </div>
                @Html.SearchBtnHtml()
                @Html.ResetBtnHtml()
                <div style="float:right;">
                    @Html.TopToolBarHtml(ViewData["ActionFormRightTop"])
                </div>
            </div>
        </form>
    </blockquote>
    <div class="layui-field-box">
        <table id="defaultTable" lay-filter="defaultruv"></table>
        <script type="text/html" id="bar">
            @Html.ToolBarHtml(ViewData["ActionList"])
        </script>
    </div>
</div>
<script>
    function showStatu(status) {
        if (status === 1) {
            return '<span class="layui-badge">待移交</span>';
        } else if (status === 2) {
            return '<span class="layui-badge layui-bg-green">在库</span>';
        } else {
            return '<span class="layui-badge layui-bg-blue">借阅中</span>';
        }
    };

    layui.use(['table', 'common', 'form', 'eleTree'], function () {
        var table = layui.table,
            $ = layui.jquery,
            form = layui.form,
            eleTree = layui.eleTree;
            common = layui.common;
        //表格

        //var typelist = [{ "Id": 1, "SelectTypeNameString": "企业" }];

        table.render({
            id: 'defaultReload'
            , elem: '#defaultTable'
            , height: 'full-112' //高度最大化减去差值
            , url: '/RecordTrancation/RecordOperation/RecordLists' //数据接口
            , where: {type: 1}
            , page: true //开启分页
            , cellMinWidth: 120
            , cols: [[ //表头
                { checkbox: true, fixed: true },
                { field: 'RecordID', title: '档案编号', fixed: 'left', width:160 }
                , { field: 'RecordUserName', title: '客户姓名', sort:true }
                , { field: 'RecordUserCode', title: '客户号', width: 210 }
                , { field: 'RecordStatus', title: '档案状态', templet:'<div>{{showStatu(d.RecordStatus)}}</div>' }
                , { field: 'CreditDueDate', title: '授信到期日' }
                , { field: 'RecordManagerDepartment', title: '归管支行' }
                , { field: 'DepartmentName', title: '归管支行名称' }
                , { field: 'RecordManager', title: '客户经理' }
                , { field: 'RealName', title: '客户经理名称' }
                , { field: 'RecordStorageLoc', title: '档案存储位置' }
                , { field: 'RecordType', title: '档案类型', templet:'<div>{{showType(d.RecordType)}}</div>' }
                , { field: 'CreateOn', title: '创建时间' }
                , { field: 'HandOverTime', title: '移交时间'}
                , { field: '', title: '操作', toolbar: "#bar", fixed:'right', width:250 }
            ]]
        });
        var $ = layui.$, active = {
                             reload: function () {
                                 //执行重载
                                 table.reload('defaultReload', {
                                     page: {
                                         curr: 1 //重新从第 1 页开始
                                     }
                                     , where: urlToJson($("#formSearch").serialize())
                                 });
                             }
                         };

        //服务器排序
        table.on('sort(defaultruv)', function (obj) {
            //尽管我们的 table 自带排序功能，但并没有请求服务端。
            //有些时候，你可能需要根据当前排序的字段，重新向服务端发送请求，如：
            table.reload('defaultReload', {
                initSort: obj //记录初始排序，如果不设的话，将无法标记表头的排序状态。 layui 2.1.1 新增参数
                , where: { //请求参数
                    field: obj.field //排序字段
                    , order: obj.type //排序方式
                }
            });
        });

        table.on('rowDouble(defaultruv)', function (obj) {
            layer.open({
                type: 2
                , title: '档案流转信息查看'
                , content: '/RecordTrancation/RecordOperation/RecordHistory?recordId=' + obj.data.RecordID
                ,shadeClose: true
                ,area: ['700px', '500px']
                , maxmin: true
                , btn: ['关闭']
                , yes: function (index, layero) {
                    layer.close(index);
                }
            });
        });

         var el;
        $.ajax({
            url: '/Permissions/Department/GetAllDepartment',
            type: 'post',
            dataType:'json',
            success: function (data) {
                //console.log(typeof(data));
                el = eleTree.render({
                    elem: '.ele',
                    data: data,
                    defaultExpandAll: true,
                    expandOnClickNode: false,
                    highlightCurrent: true
                });
            }
        });
        $("[name='DepartmentName']").on("click",
            function(e) {
                e.stopPropagation();
                if (!el) {
                    //el = eleTree.render({
                    //    elem: '.ele',
                    //    data: data,
                    //    defaultExpandAll: true,
                    //    expandOnClickNode: false,
                    //    highlightCurrent: true
                    //});
                }
                $(".ele").toggle();
            });
        eleTree.on("nodeClick(departmentdata)",
            function(d) {
                $("[name='DepartmentName']").val(d.data.currentData.label);
                $("[name='RecordManagerDepartment']").val(d.data.currentData.id);
                $.ajax({
                    url: '/Permissions/User/UserListByDeId',
                    type: 'post',
                    data: {'departmentId': d.data.currentData.id },
                    dataType: 'json',
                    success: function (data) {
                        var html = '<option value=""></option>';
                        for (var i in data) {
                            html += '<option value="' + data[i].UserName + '">' + data[i].RealName + '</option>';
                        }
                        $("#RecordManager").html(html);
                        form.render('select');
                    },
                    error: function (data) {
                        console.log(data);
                    }
                });
                $(".ele").hide();
            });
        $(document).on("click",
            function() {
                $(".ele").hide();
            });

        $('#btnSearch').on('click', function () {
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });
        //add
        $('#btnAdd').on('click', function () {
            common.openTop({
                title: '档案添加', w: '1000px', h: '500px', content: '/RecordTrancation/RecordOperation/RecordAdd'
            });
        });
        //借阅
        $('#btnBorrow').on('click', function() {
            var checkStatus = table.checkStatus('defaultReload');
            if (checkStatus.data.length) {
                var recordIdArray = new Array();
                for (var i in checkStatus.data) {
                    recordIdArray.push(checkStatus.data[i].RecordID);
                }

                $.ajax({
                    src: '/RecorTrancation/RecordBorrow/ApplyBorrow',
                    type: 'post',
                    data: { 'recordIdString': recordIdArray.join(',') },
                    success: function(obj) {
                        if (obj.state === 'success') {
                            layer.msg(obj.message);

                            //表格状态刷新
                            active['reload'].call(this);
                        } else {
                            layer.msg(obj.message);
                        }
                    }
                });
            } else {
                layer.msg('请先勾选需要借阅的档案!');
            }
        });
        //监听工具条
        table.on('tool(defaultruv)', function (obj) {
            var data = obj.data;
            if (obj.event === 'detail') {
                //common.openTop({
                //    detail:true,
                //    title: '查看详情', w: '700px', h: '500px', content: '/RecordTrancation/RecordOperation/RecordDetail?recordId=' + data.RecordID, clickOK: function (index) {
                //        common.close(index);
                //    }
                //});
                layer.open({
                    type: 2 //此处以iframe举例
                    , title: '档案详情'
                    , area: ['700px', '500px']
                    //,shade: 0
                    , maxmin: true
                    , offset: 'auto'
                    , content: '/RecordTrancation/RecordOperation/RecordDetail?recordId=' + data.RecordID
                    , btn: ['打印清单', '取消']
                    , yes: function (index, layero) {
                        window.open('/RecordTrancation/RecordBorrow/PrintPage?recordId=' + data.RecordID, '_blank');
                    }
                    , btn2: function () {
                        layer.closeAll();
                    }
                });
            } else if (obj.event === 'del') {
                layer.confirm('确定要删除吗？', function (index) {
                    $.ajax({
                        url: "/RecordTrancation/RecordOperation/RecordDelete",
                        type: "POST",
                        data: { "recordId": data.RecordID },
                        dataType: "json",
                        success: function (data) {
                            if (data.state === "success") {
                                obj.del();//删除这一行
                                layer.close(index); //关闭弹框
                                common.msgSuccess("删除成功");
                            } else {
                                common.msgError("删除失败");
                            }
                        }
                    });
                });
            } else if (obj.event === 'edit') {
                common.openTop({
                    title: '操作编辑', w: '1000px', h: '500px', content: '/RecordTrancation/RecordOperation/RecordEdit?recordId=' + data.RecordID
                });
            }
        });
    });
</script>

